
<!--
-Give me some colour button
avatar circle image in the about us section.

 move boostrapp.scss some where in the src folder - and amend links to imports
photo modal 
-->

<body id="top">
    
<header class="header">
  <nav class="navbar py-5 navbar-dark">
    <div class="container">
       <img class="mx-auto" width='75'  style='filter: grayscale(100%);' src="/assets/images/matthew-twyford-logo-dark.svg" alt="3-start-simple"/>
    </div>
  </nav>
   
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12 ">
        <h1 class="display-1" style="font-style: italic;">Hi <br/>there. </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <p  class="mt-4 lead bg-white text-shadow"> Englishman in Canada. <br/> Web developer, Designer, Photographer, Done enthusiast, Pilot and all round (self proclaimed) good guy.</p>
      </div>
    </div>
  </div>
</header>

<img id='tri' class="" width='100%' src="/assets/images/tri.svg" alt="3-start-simple"/>

<span id='more'>
<i class="fa fa-angle-down"></i>
</span>


<div class="page-content">
    

    <div id="about" class="section">

      <div class="container" >

        <div class="mx-auto text-center mb-3">
            <img width="100" height="100" class="rounded-circle"  style='filter: grayscale(100%);' src="/assets/images/matthew_twyford.png"/>
        </div>
      
        <h2 class="display-4 text-center">About me</h2>
        <span class="border d-block"></span>

    </div>
      
      <div class="container">
        <div class="row">

          <div class="col-12 col-sm-6 pt-2">
            <div class="card">
              <div class="card-body">
                
                <h3 class=" text-center">A little about me</h3>
             
               
               <p class="text-muted">
                   Well hi there. 
                   After working for quite a few year working within varies companies, I have decided to go freelance! 
                   <br/>
                   I am proud to say I worked with some big names, on both side of the pond. 
                   <br/>
                   In my spare time, I am coding, building, and flying. 
                   <br/>
                
                 <p class="text-muted">
                You can find me in <a href='linkedin.com'>Linkedin</a>
                </p>
                
               
                <p class="text-muted">
                I have over 10 years experience working in web development and design. Within that time, I gave worked for some big brands such as<strong><u>Walmart</u></strong>, <strong><u>BMO</u></strong>, and <strong><u>Remax</u></strong>, whilst working here in Toronto and In London, England.
               </p>
               
                <p class="text-muted">
              	This portfolio is aimed to be concise and focused on simplicity, If you would like to see more of my work or know a little more about me, please just get in touch; I love a good chat.  
                </p>
          
               
              </div>
            </div>
          </div>
          
        <div class="col-12 col-sm-6 pt-2">
            <div class="card">
              <div class="card-body">
                     
                <h3 class="text-center">Tech</h3>
                
                <p class="text-muted">
                   Commodo convallis varius egestas purus,  Commodo convallis varius egestas purus  Commodo convallis varius egestas purus, 
                </p>
                
                <ul class="list-unstyled ml-3">
                    <li><i class="fa fa-angle-right"></i>HTML5</li>
                    <li><i class="fa fa-angle-right"></i> CSS3, Bootstrap, SASS </li>
                    <li><i class="fa fa-angle-right"></i> Javascript Jquery</li>
                    <li><i class="fa fa-angle-right"></i> Angular and AngularJS Typescript</li>
                    <li><i class="fa fa-angle-right"></i> Google Material</li>
                    <li><i class="fa fa-angle-right"></i> RESTful API</li>
                    <li><i class="fa fa-angle-right"></i> GIT - SCM</li>
                    <li><i class="fa fa-angle-right"></i> ASPX and DNN</li>
                    <li><i class="fa fa-angle-right"></i> Wordpress</li>
                    <li><i class="fa fa-angle-right"></i> Photoshop, InDesign, and Illustrator</li>
                    <li><i class="fa fa-angle-right"></i> PHP, MySQL, ASPX</li>
                    <li><i class="fa fa-angle-right"></i> Python</li>
                    <li><i class="fa fa-angle-right"></i> Macintosh, Linux, and Windows</li>
                </ul>
                
              </div>
            </div>
          </div>
          
 
        </div>
      </div>
    
    </div>


    <div id='clients' class="section" style='background:#f4f4f4'>
            
      <app-title [Title]="'Clients'"></app-title>
      
      <div class="container">
        <div class="row">


         <div *ngFor="let client of clients" class="col-md-2 col-sm-6 col-6 pt-2">
            <app-card [Alt]="client.alt" [Img]="client.img"></app-card>

		</div>

          <div class="col-md-2 col-sm-6 col-6 pt-2">
            <div class="card box">
                <img class="img-fluid"  style='filter: grayscale(100%);' src="/assets/images/clients/coldwell_banker_logo_tran_matthew_twyford.png" alt="3-start-simple"/>
            </div>
          </div>

          <div class="col-md-2 col-sm-6 col-6 pt-2">
            <div class="card box">
                <img class="img-fluid"  style='filter: grayscale(100%);' src="/assets/images/clients/sextant_logo_tran_matthew_twyford.png" alt=""/>
            </div>
        </div>

          <div class="col-md-2 col-sm-6 col-6 pt-2">
            <div class="card box">
                <img class="img-fluid"  style='filter: grayscale(100%);' src="/assets/images/clients/c21_logo_tran_matthew_twyford.png" alt=""/>
            </div>
        </div>

          <div class="col-md-2 col-sm-6 col-6 pt-2">
            <div class="card box">
                <img class="img-fluid"  style='filter: grayscale(100%);' src="/assets/images/clients/visit_norfolk_logo_tran_matthew_twyford.png" alt="4-start-simple"/>
            </div>
        </div>

          <div class="col-md-2 col-sm-6 col-6 pt-2">
            <div class="card box">
                <img class="img-fluid"  style='filter: grayscale(100%);' src="/assets/images/clients/visit_york_logo_tran_matthew_twyford.png" alt="4-start-simple"/>
            </div>
        </div>
        
          <div class="col-md-2 col-sm-6 col-6 pt-2">
            <div class="card box">
                <img class="img-fluid"  style='filter: grayscale(100%);' src="/assets/images/clients/spaceagent_logo_tran_matthew_twyford.png" alt="4-start-simple"/>
            </div>
        </div>
          
          <div class="col-md-2 col-sm-6 col-6 pt-2">
            <div class="card box">
                <img class="img-fluid"  style='filter: grayscale(100%);' src="/assets/images/clients/clever_property_logo_tran_matthew_twyford.png" alt="4-start-simple"/>
            </div>
        </div>
        
          <div class="col-md-2 col-sm-6 col-6 pt-2">
            <div class="card box">
                <img class="img-fluid"  style='filter: grayscale(100%);' src="/assets/images/clients/walmart_logo_matthew_twyford.png" alt="4-start-simple"/>
            </div>
        </div>

          <div class="col-md-2 col-sm-6 col-6 pt-2">
            <div class="card box">
                <img class="img-fluid"  style='filter: grayscale(100%);' src="/assets/images/clients/wigmore_jones_logo_tran_matthew_twyford.png" alt="4-start-simple"/>
            </div>
        </div>

          <div class="col-md-2 col-sm-6 col-6 pt-2">
            <div class="card box">
                <img class="img-fluid" style='filter: grayscale(100%);' src="/assets/images/clients/angels_logo_tran_matthew_twyford.png" alt="4-start-simple"/>
            </div>
        </div>
 
        </div>
      </div>
    </div>
    
   
    <div id='clients' class="section" style='background:#f4f4f4'>
 
     <app-title [Title]="'Projects'"></app-title>
      
      <div class="container">
        <div class="row">

          <div class="col-md-6 col-sm-6 col-6 pt-2 pb-3">
            <app-card [Alt]="'TILE'" [Img]="'/tiles/hc.jpg'"></app-card>
          </div>

          <div class="col-md-6 col-sm-6 col-6 pt-2 pb-3">
            <div class="card box">
                <img class="img-fluid" src="/assets/images/tiles/remax.jpg" alt="2-start-simple"/>
            </div>
          </div>


          <div class="col-md-6 col-sm-6 col-6 pt-2 pb-3">
            <div class="card box">
                <img class="img-fluid" src="/assets/images/tiles/cfmh.jpg" alt="2-start-simple"/>
            </div>
          </div>
          






          <div class="col-md-6 col-sm-6 col-6 pt-2">
            <div class="card box">
                <img class="img-fluid" src="/assets/images/tiles/nm.jpg" alt="2-start-simple"/>
            </div>
          </div>
          
    
          <div class="col-md-6 col-sm-6 col-6 pt-2 pb-3">
            <div class="card box">
                <img class="img-fluid" src="/assets/images/tiles/wal.jpg" alt="2-start-simple"/>
            </div>
          </div>    
    

 
        </div>
      </div>
    
    </div>

    
    
    <div id='media' class="section">

 		<app-title [Title]="'Media'"></app-title>

		<div class='container'>
		
            <div class="card-columns">


   				<app-card 
   				[Alt]="'asdlkjdskflsf'"
   				[Img]="'matthewtwyford-photo1.jpg'"
   				></app-card>
      


                <div class="card">
            <video width="100%" height="" controls style='filter: grayscale(100%);' >
              <source src="/assets/images/spin-c150.mov" type="video/mp4">
              <source src="/assets/images/spin-c150.mov" type="video/ogg">
                 Your browser does not support the video tag.
            </video> 
            </div>





                <div class="card box">
                    <img class="img-fluid" src="/assets/images/matthewtwyford-photo1.jpg" alt="Card image cap">
                  </div>

           
                <div class="card box">
                    <img class="img-fluid"  src="/assets/images/matthewtwyford-photo3.jpg" alt="Card image cap">
                  </div>

                <div class="card box">
                    <img class="img-fluid"  src="/assets/images/matthewtwyford-photo4.jpg" alt="Card image cap">
                  </div>

                <div class="card box">
                    <img class="img-fluid" src="/assets/images/matthewtwyford-photo5.jpg" alt="Card image cap">
                  </div>

                <div class="card box">
                    <img class="img-fluid"  src="/assets/images/matthewtwyford-photo6.jpg" alt="Card image cap">
                  </div>

                <div class="card box">
                    <img class="img-fluid" src="/assets/images/matthewtwyford-photo7.jpg" alt="Card image cap">
                  </div>

                <div class="card box">
                    <img class="img-fluid" src="/assets/images/matthewtwyford-photo9.jpg" alt="Card image cap">
                  </div>

                <div class="card box">
                    <img class="img-fluid" src="/assets/images/matthewtwyford-photo10.jpg" alt="Card image cap">
                  </div>

            </div>
		
		
		
		</div>


    </div>

</div>

 
<footer class="bg-light">
  <div class="container text-dark">
    <div class="row">
      <div class="col-md-12 col-sm-12 small">    
            <img class=" mr-1" width='50'  style='filter: grayscale(100%);' src="/assets/images/matthew-twyford-logo-dark.svg" alt="3-start-simple"/>
            &copy; 2018 MatthewTwyford.com | 905 909 8677 | <a href='linkedin.com'><i class="fab fa-linkedin"></i> Linkedin</a>
        </div>

    </div>
  </div>
</footer>
