
<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>Header</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>


<mat-grid-list cols="1" rowHeight="2:1">

  	<mat-grid-tile>
	  <img mat-card-image src="/assets/matthewtwyford-contact-jumbo.jpg"> 
	  
	 <h1>Matthew Twyford</h1>
  	<p>Web designer, Web Developer, Photographer, Drone enthusiast and Pilot. </p>
	</mat-grid-tile>
	
</mat-grid-list>

<mat-grid-list cols="1" rowHeight="2:1">
  
  <img mat-card-image src="/assets/matthewtwyford-contact-jumbo.jpg">
  
  <mat-grid-tile>
  	<h1>Matthew Twyford</h1>
  	<p>Web designer, Web Developer, Photographer, Drone enthusiast and Pilot. </p>
  </mat-grid-tile>

</mat-grid-list>


<mat-grid-list cols="3" rowHeight="2:1">
 
   <mat-grid-tile></mat-grid-tile>
 
  <mat-grid-tile>
  	<p>
  	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
		eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
		montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
		eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
		fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
		imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
		Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
		eleifend
	</p>
  	<p>
  	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
		eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
		montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
		eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
		fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
		imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
		Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate
		eleifend
	</p>
  </mat-grid-tile>

   <mat-grid-tile></mat-grid-tile>


</mat-grid-list>


-- TEXT
<br/>
Grid


footer


<mat-grid-list cols="3" rowHeight="300px">
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list>



<mat-card>Simple card</mat-card>


<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>Footer</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>



